<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form method="post" action="/login">
        <label for="username">username</label>
        <input name="username" id="username"/>

        <label for="password">password</label>
        <input name="password" type="password" id="password"/>

        <input type="submit"/>
    </form>

    <div th:if="${param.error}" style="color:red">
        Incorrect username or password
    </div>
</div>
</body>
</html>