<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <h4 style="color:white">
                <span>
                    <span th:text="${admin.email}"></span>
                    <span> with roles: </span>
                    <span th:text="${admin.roles}"></span>
                </span>
            </h4>
        </ul>
        <span class="navbar-text">
                <a th:href="@{/logout}"><h5>Logout</h5></a>
            </span>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-12 bg-light p-3">
            <div>
                <a th:href="@{/user}"
                   th:classappend="${#httpServletRequest.requestURI == '/user'} ? 'disabled' : ''"
                   class="btn btn-primary btn-lg btn-block btn-dark active" role="button" aria-pressed="true">USER</a>
            </div>
            <a th:href="@{/admin}"
               th:classappend="${#httpServletRequest.requestURI == '/admin'} ? 'disabled' : ''"
               class="btn btn-primary btn-lg btn-block btn-dark active" role="button" aria-pressed="true">ADMIN</a>
        </div>
        <div class="col-md-10 col-12 p-3">
            <h1>Admin Panel</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarText2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a th:href="@{/admin}" class="btn">
                                Users table
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/add}" class="btn">
                                New User
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h3 style="color: black">All users</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.roles}"></td>
                    <td>
                        <button type="button"
                                class="btn btn-warning"
                                th:attr="data-toggle='modal', data-target='#editModal__' + ${user.id}">
                            Edit
                        </button>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/admin/delete(id=${user.id})}">
                            Delete
                        </a>
                    </td>
                </tr>
            </table>

            <div th:each="user : ${users}">
                <div class="modal fade"
                     th:attr="id='editModal__' + ${user.id}"
                     tabindex="-1"
                     role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form th:action="@{/admin/edit}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="id" th:value="${user.id}" />

                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" th:value="${user.name}">
                                    </div>

                                    <div class="form-group">
                                        <label>Age</label>
                                        <input type="number" class="form-control" name="age" th:value="${user.age}">
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" name="email" th:value="${user.email}">
                                    </div>

                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" name="password" th:value="${user.password}">
                                    </div>

                                    <div class="form-group">
                                        <label>Roles</label>
                                        <div th:each="role : ${allRoles}">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="roles"
                                                       th:value="${role.id}"
                                                       th:checked="${#lists.contains(user.roles, role)}" />
                                                <label class="form-check-label" th:text="${role.name}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
