<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Пароль</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td th:each="role : ${user.roles}" th:text="${role.name}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${user.id})}">Редактировать</a> |
            <form th:action="@{/admin/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/add}">ADD USER</a>
<br>
<a th:href="@{/logout}">LOGOUT</a>
</body>
</html>
