<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <h4 style="color:white"><span th:text="${user.email} + ' with roles: ' + ${user.roles}"></span></h4>
        </ul>
        <span class="navbar-text">
                <a th:href="@{/logout}"><h5>Logout</h5></a>
            </span>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-12 bg-light p-3">
            <a th:href="@{/user}"
               th:classappend="${#httpServletRequest.requestURI == '/user'} ? 'disabled' : ''"
               class="btn btn-primary btn-lg btn-block btn-dark active" role="button" aria-pressed="true">USER</a>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/admin}"
                   th:classappend="${#httpServletRequest.requestURI == '/admin'} ? 'disabled' : ''"
                   class="btn btn-primary btn-lg btn-block btn-dark active" role="button" aria-pressed="true">ADMIN</a>
            </div>
        </div>
        <div class="col-md-10 col-12 p-3">
            <h1>User information-page</h1>
            <h3 style="color: black">About user</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tr th:each="user : ${user}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.roles}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
